body{
    background-color: rgb(217, 255, 250);
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-direction: column;
}

.alert{
    margin-top: 40px;
}

.container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

button{
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 7px;
    background: rgb(95, 84, 83);
    color: white;
}

.image{
    margin: 20px;
    height: 150px;
    width: 150px;
}

.missed{
    font-weight: bold;
}

.header{
    font-size: larger;
    font-weight: bold;
}